.ui {
	font: 12px Arial,Helvetica,sans-serif;
margin: 0;
	line-height: 1.3em;
}

.ui {
	font-size: 12px !important;
	
}
.ui {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px 50px 1fr;
      grid-template-rows: 40px 50px 1fr;
  background-color: #0079bf;
  color: #eee;
}

.navbar {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar.app {
  background-color: #0067a3;
  font-size: 1.5rem;
}
.navbar.board {
	font: 18px Arial,Helvetica,sans-serif;
	cursor: default;
	font-weight: 700;
	line-height: 30px;
}

.lists {
	display: -webkit-box;
	display: -ms-flexbox
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	overflow-x: auto;

}
.lists > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 10px;
}
.lists::after {
  content: '';
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
}

.list {
  width: 270px;
  height: calc(100% - 10px - 17px);
}
.list > * {
  background-color: #e2e4e6;
  color: #333;
  padding: 0 8px;
}
.list header {
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}
.list footer {
  line-height: 36px;
  color: #888;
}
.list .footer {
   border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.list ul {
  list-style: none;
  margin: 0;
  max-height: calc(100% - 36px - 36px);
  overflow-y: auto;
}
.list ul li {
	background-color: #fff;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
}

.list ul li img {
  display: block;
  width: calc(100% + 2 * 10px);
  margin: -10px 0 10px -10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* Substyles */

.compact-board-tile-wrapper {
	color: #333;
	font-size: 15px;
	line-height: 36px;
	background-color: #E0EFF7;
	margin-bottom: 5px;
	border-radius: 3px;
     overflow: hidden;
       text-overflow: ellipsis;
}
 
footer .tc-reveal { padding: 10px 0 4px 0; }
 
 
footer textarea {
	background: #fff;
	border-radius: 5px;
	border: none;
	box-shadow: none;
	height: auto;
	margin-bottom: 4px;
	margin-top: 10px;
	max-height: 162px;
	min-height: 54px;
	overflow-y: auto;
	padding: 0;
	padding: 8px;
	width: 100%; }
 
 
.header-btn-icon button {
	background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
	border-radius: 3px;
	border: 0;
	color: #f3f3f3;
	display: block;
	float: left;
	font-weight: 700;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
	line-height: 30px;
	margin-right: 8px;
	min-width: 30px;
	padding: 0 8px;
	text-decoration: none; }
 
 
.header-user {
	position: absolute;
	right: 0; }
 
 

/* Task List */
 
.list-card-operation {
	background-clip: padding-box;
	background-color: #EDEFF0;
	background-origin: padding-box;
	opacity: 0;
	 }


.list ul li.tc-draggable {
  position: relative;  }


.list ul li.tc-draggable:hover {
	background-color: #EDEFF0;
	border-bottom-color: #D6DADC;  }
 
	.list ul li.tc-draggable:hover .list-card-operation { opacity: 1; }
 

.icon-sm{
	color: #400;
	display: inline-block;
	font-family: trellicons;
	font-size: 12pt;
	font-style: normal;
	font-weight: 400;
	height: 30px;
	line-height: 25px;
	text-align: center;
	text-decoration: none;
	width: 30px;
	color: #999;
}




 
.listitem {
  	position: absolute;
	right: 3px;
	top: 3px;
  	/*z-index: 40; */
	border-radius: 3px;
	padding: 4px;	}
	.listitem:hover { background-color: #D6DADC; }
 

 
 
 /* Modal Button */
.materialbutton {
	background-color: #26a69a;
	border-radius: 2px;
	border: none;
	color: #fff;
	height: 30px;
	letter-spacing: .5px;
	line-height: 30px;
	padding: 0 2rem;
	text-decoration: none;
	margin: 5px 1px;}
 


 
 /* Any button*/
.semitransparentborderless {
	background: transparent;
	border: none;
	color: rgba(255,255,255,.7);
	padding: 7px; }
 
/*Add new card button*/
.smallgreenbutton {
	background: -webkit-linear-gradient(top,#5AAC44 0,#519839 100%);
	background: linear-gradient(to bottom,#5AAC44 0,#519839 100%);
	border-radius: 3px;
	border: none;
	color: #fff;
	display: inline-block;
	font-weight: 700;
	line-height: 22px;
	margin: 0 6px 0 0;
	min-height: 30px;
	outline: 0;
	padding: 4px 1pc;
	vertical-align: top; }
 
 
.tc-dropzone p { margin:0 }

 
.wheatbordertextbox textarea {
	border: 1px solid #ccc;
    border-radius: 4px;
	height: auto;
	padding: 6px 12px;
    width: 100%;
	 }


/*--------------*/

/* ----- Add New board ------*/
.pop-over {
	background: #fff;
	border-radius: 3px;
	border: 1px solid #D6DADC;
	border-bottom-color: #C4C9CC;
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
	overflow: hidden;
	width: 300px;
	z-index: 70;
	-webkit-transform: translate3d(0,0,0);
	position: absolute;
	right: 0;
	top: 0;
    font-size: 14px;
}
.pop-over-header {
	height: 36px;
	position: relative;
	margin-bottom: 8px;
	text-align: center;
}
.pop-over-header-title {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #838c91;
	display: block;
	line-height: 36px;
	border-bottom: 1px solid #D6DADC;
	margin: 0 10px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	z-index: 1;
	font-size: 14px;
}
.pop-over-content {
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 10px 10px;
}
label{
	display: block;
	font-weight: 700;
	margin-bottom: 4px;
	color: #333;
}

/*--------------*/

/*--Edit Modal ---*/
.window-header {
	margin: 8px 2pc;
	padding: 0 8px;
	position: relative;
	z-index: 1;
}
.window-title {
	padding-top: 3px;
}
.mod-card-back-title {
	background: 0 0 !important;
	border-radius: 3px;
	box-shadow: none;
	font-size: 18px;
	font-weight: 700;
	height: 30px;
	line-height: 22px;
	margin: -4px -6px;
	min-height: 30px;
	padding: 4px 6px;
	resize: none;
	border: 1px solid transparent;
	width: 100%;
}
.ui input {
      transition: background 85ms ease-in,border-color 85ms ease-in;
      width: 100%;
}


.mod-card-back-title:focus {
    background-color: rgba(255,255,255,.9) !important;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #0079BF;
	box-shadow: 0 0 2px 0 #0284C6;
}
.window-main-col {
	float: left;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	min-height: 24px;
	padding: 0 8px 8px;
	position: relative;
	width: 540px;
	z-index: 0;
}


.window-main-col {
	float: left;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	min-height: 24px;
	padding: 0 8px 8px;
	position: relative;
	width: 540px;
	z-index: 0;
}

.window-module {
	clear: both;
	margin-bottom: 1pc;
	position: relative;
}
.window-module-title-no-divider {
	border-bottom: none;
}
.window-module-title {
	padding: 8px;
	position: relative;
	margin: 0 24px 8px;
}
.window-module-title h3 {
	display: inline-block;
	width: auto;
	margin: 0;
	min-height: 18px;
	min-width: 40px;
	font-size: 1pc;
	line-height: 1.25em;
	font-weight: 800;
	color: gray;
}
.new-comment {
	position: relative;
	margin: 0 0 20px 38px;
}
.comment-frame {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,.23);
	margin: 4px 4px 9pt 0;
}
.comment-box {
	position: relative;
}
.comment-box-input {
	background: 0 0;

	margin: 0;
	min-height: 75px;
	padding: 9px 11px 0;
	width: 100%;
	resize: none;
    border:0;
	border-bottom: solid 30px transparent;
	overflow: hidden;
	overflow-wrap: break-word;
	
}

.u-gutter {
	margin-left: 2pc;
	margin-bottom: 1pc;
}
.checklist-new-item-text, .checklist-new-item-text:hover {
	background: 0 0 !important;
	box-shadow: none;
	cursor: pointer;
	margin-bottom: 4px;
	max-height: 2pc;
	overflow: hidden;
	resize: none;
	text-decoration: none;
	border: 1px solid transparent;
	height: 30px;
}

.checklist-new-item-text:focus {
	background: #fff !important;
	border-color: #298FCA;
	box-shadow: 0 0 2px #298FCA;
}

input[type="checkbox"], input[type="radio"] {
  width: auto;
}
.tc-modal-body {
	max-height: 90vh !important;
}

.button-link {
	background: #E2E4E6;
	box-shadow: 0 1px 0 0 #C4C9CC;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 2pc;
	margin-top: 8px;
	max-width: 300px;
	padding: 7px 7px 7px 11px;
	position: relative;
	user-select: none;
	white-space: nowrap;
	border-radius: 3px;
	font-weight: 700;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	color: #444;
}

.window-main-col {
	float: left;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	min-height: 24px;
	padding: 0 8px 8px;
	position: relative;
	width: 65%;
	z-index: 0;
}


.window-sidebar {
	float: right;
	padding: 8px 1pc 8px 8px;
	width: 30%;
	overflow: hidden;
	z-index: 10;
}
.window-module {
	clear: both;
	margin-bottom: 1pc;
	position: relative;
}

.button-link {
	background: #E2E4E6;
	box-shadow: 0 1px 0 0 #C4C9CC;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 2pc;
	margin-top: 10px;
	position: relative;
	user-select: none;
	white-space: nowrap;
	border-radius: 3px;
	font-weight: 700;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	color: #444;
	width: 100%;
	border: 1px solid transparent;
	text-align: left;
	padding-left: 15%;
}

/* ---- ------*/

/* ------ Delete board popup  ------*/
.md-modal {
	position: fixed;
	top: 30%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-content {
	color: #fff;
	background: #e74c3c;
	position: absolute;
	border-radius: 3px;
	margin: 0 auto;
}

.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}
.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 20px;
  text-align: center;
}


.md-content > div p {
	margin: 0;
	padding: 10px 0;
}
.md-content button {
	
	margin: 0 auto;
	font-size: 0.8em;
  border: none;
	padding: 0.6em 1.2em;
	background: #c0392b;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;

	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	
	border-radius: 2px;
}

.mdbuttons {
	margin: auto;
	position: relative;
	left: 0;
	right: 0;
	margin: 0 40%;
	padding: 5% 0;
}

/** ------------**/

/* Stepping away from TW5 styles*/
.tc-notification {display:none}
.tc-droppable.tc-dragover > .tc-droppable-placeholder {
	height: 1px !important;
    border:none !important;
	border-bottom: 2px solid grey !important;
}
.tc-modal {
	background-color: #EDEFF0 !important;
	border-radius: 2px;
	margin: 3pc 0 5pc;
	overflow: hidden;
	position: relative;
	width: 60% !important;
	left: 20% !important;
}
.tc-modal-header {
	display: none !important;
}
.tc-modal-footer {
	display: none !important;
}



/** ------------**/


/** Listops button **/
.listopsbutton {
padding: 3px 10px;
margin: 0 5%;
}
.listopsbutton:hover {
	background: #298FCA;
	color: #fff;
}
/** ------------**/

footer textarea {line-height: 22px;}

/**-----Board Select-----**/
.whitebgdropdown {
	width: 280px;
	overflow: hidden;
	border: 1px solid #bbb;
	border-radius: 5px;
	background-color: #ffffff;
	padding: 7px 0 7px 0;
	margin: 10px 0 0 0;
	white-space: nowrap;
	text-shadow: none;
	top: 45px;
	z-index: 60;
	line-height: 1.4;
	box-shadow: 0 3px 6px rgba(0,0,0,.4);
}
.whitebgdropdown a, .whitebgdropdown button {
	display: block;
	padding: 0 10px 0 10px;
	width: 100%;
	text-align: left;
	color: #333333;
	line-height: 1.4;
}
.simplesquare {
	background-color: #0079BF;
	display: inline-block;
	height: 36px;
	opacity: .7;
	width: 36px;
	border-radius: 5px;
	margin-right: 3px;
}

/**-----Board Select END-----**/

/*** ------ Markdown Car view ------***/
.cardview li {
	box-shadow: none !important;
	padding: 3px 0 !important;
	margin-bottom: 2px !important;
	list-style-type: square !important;
	list-style-position: inside;
}
.cardview ul {
	padding-left: 0;
	padding-right: 0;
}
/*** ------ Markdown Car view END------***/

@media all and (max-width: 640px) {
  .lists {flex-wrap:wrap;}
  .list {height:auto; padding: 10px 0;}
  .pop-over{
    position: fixed;
    left: 0;
	top:20%;
	width: 100%;
  }
  .tc-modal {
	width: 100% !important;
	left: 0;
	}
  .md-modal.md-effect-1.md-show {
	width: 100%;
	}
  .mdbuttons {
	margin: 0 30%;
	}
}

 