.overflow-hidden {
	overflow: hidden; 
    overflow-wrap: break-word;
    }
.checklist-text-h {
  overflow-x: hidden; 
  overflow-y: scroll; 
  overflow-wrap: break-word; 
  height: 48px;
  width: 70%;
	}
.view-comment-area {
	margin-bottom: 3%;
}
.view-comment {
	margin-left: 15%;
}
.view-comment .tc-btn-invisible.tc-btn-mini {
	display: none;
}
.view-comment:hover .tc-btn-invisible.tc-btn-mini {
	display: inline;
}


/***--POP UP--***/

.pop-over-content {
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 10px 10px;
}
ul.pop-over-list {
	list-style: none;
	margin: 0;
	line-height: 18px;
	padding-left: 0;
}
ul.pop-over-list li {
	box-shadow: none;
	padding: 5px 10px;
	margin-bottom: 2px;
}
ul.pop-over-list li:hover {
	background-color: #298FCA;
    color:#fff;
    }
ul.pop-over-list.label-list li:hover {
	background-color: #fff;
    color:#fff;
    }

/** ---**/

.label-list button.tc-tag-label, .label-list span.tc-tag-label {
	border-radius: 3px;
	width: 100%;
	min-height: 30px;
	line-height: 30px;
}


.label-list .tc-tag-list-item {
	margin-right: 0;
	width: 100%;
}

.label-list .tc-btn-invisible:active .tc-tag-label {
	background: #111 !important;
	color: #fff !important;
}
.above-card {
	margin-bottom: 5px;
}

.colour-picker-input{
  width:40%;
}
.checklist-text-width20 {
 width:20%; 
}

.pop-over-content ul.pop-over-list li {
	box-shadow: none;
	margin-bottom: 0;
	padding: 5px 10px;
}


 /*Add new list button*/
.semitransparent {
	background: rgba(0,0,0,.12) !important;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	height: auto;
	margin: 0 5px;
	min-height: 30px;
	padding: 4px;
	width: 270px; }

.tc-btn-invisible.sidebarbtn {
	position: absolute;
	right: 0;
	font-size: 10px;
	text-decoration: underline;
	padding-right: 8px;
	color: #f6f6f6;
}

.sidebar {
	position: fixed;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 20%;
	background-color: #EDEFF0;
	z-index: 100;
	color: #333;
	padding: 5px 20px;
}


.sidebar .header {
	line-height: 20px;
	margin: 13px 30px 9pt;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	font-size: 14px;
	font-weight: 700;
}

.palettebtn {
	padding-top: 20%;
}